<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <nav class="navbar navbar-full navbar-dark bg-inverse">
        <div class="container">
            @Html.ActionLink("TryHarder", "Index", "Metrics", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav pull-xs-right pull-sm-right pull-md-right pull-lg-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="body-content">
        <div class="bglogo"></div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
