@model TryHarder.Models.SummonerModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name: @Model.ID</h2>

@foreach (var Champion in Model.Champions)
{
    <h3>Champion: @Champion.Name</h3>

    foreach (var RoleGroup in Champion.RoleGroups)
    {
        <h4>Role: @RoleGroup.Name</h4>

        foreach ( var TimeBucket in RoleGroup.TimeBuckets)
        {
            <table class="table table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        <th>@TimeBucket.Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Metric in TimeBucket.Metrics)
                    {
                        <tr>
                            <td>@Metric.Name</td>
                            <td>
                                Bin: @Metric.Bin<br />
                                Category: @Metric.Category<br />
                                Games: @Metric.Games<br />
                                Grain: @Metric.Grain<br />
                                Percent: @Metric.Percent<br />
                                Pop: @Metric.Pop<br />
                                Value: @Metric.Value<br />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}