@using TryHarder.Models
@model ResultsViewModel
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<div class="col-md-12">
    @Model.summoner.SummonerID
    @Model.summoner.Summoner1
    @Model.summoner.LastUpdateDate

    <div class="row">
        <table class="table table-sm table-bordered table-hover table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        BuildingKillAssists
                    </th>
                    <th>
                        BuildingKills
                    </th>
                    <th>
                        ChampionID
                    </th>
                    <th>
                        ChampionKillAssists
                    </th>
                    <th>
                        ChampionKills
                    </th>
                    <th>
                        CreepsKilledPerMin
                    </th>
                    <th>
                        Deaths
                    </th>
                    <th>
                        Division
                    </th>
                    <th>
                        DurationInSeconds
                    </th>
                    <th>
                        EliteMonsterKills
                    </th>
                    <th>
                        ExpPerMin
                    </th>
                    <th>
                        GoldPerMin
                    </th>
                    <th>
                        Lane
                    </th>
                    <th>
                        MatchID
                    </th>
                    <th>
                        MatchWin
                    </th>
                    <th>
                        ParticipantID
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        SummonerID
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        Tier
                    </th>
                    <th>
                        TimeBucketID
                    </th>
                    <th>
                        TotalDamageDealtByPlayer
                    </th>
                    <th>
                        TotalDamageDealtToChampions
                    </th>
                    <th>
                        TotalDamageTakenByPlayer
                    </th>
                    <th>
                        WardsPerMin
                    </th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                @{
                    foreach(SummonerMatchQuarter mQ in Model.matchQuarters)
                    {
                        <tr>
                            <td>@mQ.BuildingKillAssists</td>
                            <td>@mQ.BuildingKills</td>
                            <td>@mQ.ChampionID</td>
                            <td>@mQ.ChampionKillAssists</td>
                            <td>@mQ.ChampionKills</td>
                            <td>@mQ.CreepsKilledPerMin</td>
                            <td>@mQ.Deaths</td>
                            <td>@mQ.Division</td>
                            <td>@mQ.DurationInSeconds</td>
                            <td>@mQ.EliteMonsterKills</td>
                            <td>@mQ.ExpPerMin</td>
                            <td>@mQ.GoldPerMin</td>
                            <td>@mQ.Lane</td>
                            <td>@mQ.MatchID</td>
                            <td>@mQ.MatchWin</td>
                            <td>@mQ.ParticipantID</td>
                            <td>@mQ.Region</td>
                            <td>@mQ.Role</td>
                            <td>@mQ.SummonerID</td>
                            <td>@mQ.Team</td>
                            <td>@mQ.Tier</td>
                            <td>@mQ.TimeBucketID</td>
                            <td>@mQ.TotalDamageDealtByPlayer</td>
                            <td>@mQ.TotalDamageDealtToChampions</td>
                            <td>@mQ.TotalDamageTakenByPlayer</td>
                            <td>@mQ.WardsPerMin</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>