@using TryHarder.Models
@model ResultsViewModel
@{
    ViewBag.Title = "Results";
}

<script src="~/Scripts/d3.v3.min.js"></script>
<script src="~/Scripts/horizBarChart.js"></script>
<script>
    var series = [
        {
            label: 'You',
            values: []
        },
        {
            label: 'Bronze',
            values: []
        },
        {
            label: 'Silver',
            values: []
        },
        {
            label: 'Gold',
            values: []
        },
        {
            label: 'Plat',
            values: []
        },
        {
            label: 'Diamond',
            values: []
        },
        {
            label: 'Masters',
            values: []
        },
        {
            label: 'Challenger',
            values: []
        },
    ];
    var goldStats = {
        // Graphs
        labels: [
            "Creeps/Min",
            "Exp/Min",
            "Gold/Min",
        ],
        series
    }
    var objectiveStats = {
        // Graphs
        labels: [
            "Building Assists",
            "Building Kills",
            "Duration (sec)",
            "Wards/Min",
            "Elite Monster Kills",
        ],
        series
    }
    var kdaStats = {
        // Graphs
        labels: [
            "Kills",
            "Deaths",
            "Assists",
        ],
        series
    }
    var damageStats = {
        // Graphs
        labels: [
            "Damage Dealt",
            "Damage To Champs",                        
            "Damage Taken",
        ],
        series
    }
</script>


<div class="container">
    <h2>Results</h2>
    @Model.summoner.SummonerID
    @Model.summoner.Summoner1
    @Model.summoner.LastUpdateDate

    <table class="table table-sm table-bordered table-hover table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>
                    ChampionID
                </th>
                <th>
                    Division
                </th>
                <th>
                    Lane
                </th>
                <th>
                    MatchID
                </th>
                <th>
                    MatchWin
                </th>
                <th>
                    ParticipantID
                </th>
                <th>
                    Region
                </th>
                <th>
                    Role
                </th>
                <th>
                    SummonerID
                </th>
                <th>
                    Team
                </th>
                <th>
                    Tier
                </th>
                <th>
                    TimeBucketID
                </th>
            </tr>
        </thead>
        <tfoot></tfoot>
        <tbody>
            @{
                foreach (SummonerMatchQuarter mQ in Model.matchQuarters)
                {
                    <tr>
                        <td>@mQ.ChampionID</td>
                        <td>@mQ.Division</td>
                        <td>@mQ.Lane</td>
                        <td>@mQ.MatchID</td>
                        <td>@mQ.MatchWin</td>
                        <td>@mQ.ParticipantID</td>
                        <td>@mQ.Region</td>
                        <td>@mQ.Role</td>
                        <td>@mQ.SummonerID</td>
                        <td>@mQ.Team</td>
                        <td>@mQ.Tier</td>
                        <td>@mQ.TimeBucketID</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <h5>Gold Stats</h5>
    <svg class="chart goldStatsChart"></svg>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <h5>Objective Stats</h5>
    <svg class="chart objectiveStatsChart"></svg>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <h5>KDA Stats</h5>
    <svg class="chart kdaStatsChart"></svg>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <h5>Damage Stats</h5>
    <svg class="chart damageStatsChart"></svg>
</div>

@{
    int matchQuarter = 0;
    foreach (SummonerMatchQuarter mQ in Model.matchQuarters)
    {
        <script>
            goldStats.series[@matchQuarter].values.push(
                @mQ.CreepsKilledPerMin,
                @mQ.ExpPerMin,
                @mQ.GoldPerMin);

            objectiveStats.series[@matchQuarter].values.push(
                @mQ.BuildingKillAssists,
                @mQ.BuildingKills,
                @mQ.DurationInSeconds,
                @mQ.EliteMonsterKills,
                @mQ.WardsPerMin);

            kdaStats.series[@matchQuarter].values.push(
                @mQ.ChampionKills,
                @mQ.Deaths);
                @mQ.ChampionKillAssists,

            damageStats.series[@matchQuarter].values.push(
                @mQ.TotalDamageDealtByPlayer,
                @mQ.TotalDamageDealtToChampions,
                @mQ.TotalDamageTakenByPlayer);
        </script>
        matchQuarter++;
    }
    <script>
        drawChart("goldStatsChart", goldStats, 250);
        drawChart("objectiveStatsChart", objectiveStats, 250);
        drawChart("kdaStatsChart", kdaStats, 250);
        drawChart("damageStatsChart", damageStats, 250);
    </script>
}